<main class="container">

    <% if flash[:alert].present? %>
      <p class= "alert"><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice].present? %>
      <p class= "notice"><%= flash[:notice] %></p>
    <% end %>

  <header class="header">
    <h1>市場価値メーターですよ3</h1>
      <div class="user-info">
        <span><%= current_user.username %></span>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link" %>
      
        <%= link_to "アカウントを削除", 
                    user_registration_path,
                    data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                    class: "link link-danger" %>
      </div>
      
  </header>

  <section class="card">
    <h2>タイマー</h2>
    <div data-controller="tiny-timer"
         data-tiny-timer-initial-seconds-value="<%= @work_session.live_seconds %>"
         data-tiny-timer-running-value="<%= @work_session.running? %>">
      <div class="timer-display" data-tiny-timer-target="elapsed">00:00:00</div>
    </div>

    <div class="btn-group">
      <%= link_to "Start", start_work_session_path, data: { turbo_method: :post, action: "click->tiny-timer#handleStartClick" }, class: "btn btn-primary" %>
      <%= link_to "Stop", stop_work_session_path, data: { turbo_method: :post, action: "click->tiny-timer#handleStopClick" }, class: "btn btn-secondary" %>
      <%= link_to "Reset", reset_work_session_path, data: { turbo_method: :post, turbo_confirm: "本当にリセットしますか？" }, class: "btn btn-danger" %>
    </div>
  </section>

  <section class="card">
    <p class="now-price">
      <span>現在の市場価値</span> 
      <strong>¥<%= @work_session.now_price.round %></strong>
    </p>
  </section>

  <section class="card">
    <h2>詳細</h2>
    <p class="kv">
      <span>１時間で稼げる額</span>
      <strong>¥<%= @work_session.hour_price.round %></strong>
    </p>
    
    <h2 class="border-line">今日のサマリー</h2>
    <p class="kv">
      <span>今日の合計時間</span>
      <strong><%= format_duration(@work_session.today_total_seconds) %></strong>
    </p>
    <p class="kv">
      <span>今日の市場価値</span>
      <strong>¥<%= (@work_session.hour_price * (@work_session.today_total_seconds / 3600.0)).round %></strong>
    </p>
  </section>

  <section class="card">
    <h2>目標設定</h2>
    <%= form_with model: @work_session, 
                  url: update_target_work_session_path, 
                  method: :patch, 
                  local: true do |f| %>
      <div class="field">
        <label>目標金額(¥)</label>
        <%= f.number_field :target_price, step: 1, class: "input" %>
        <ul>
          <%@work_session.errors.full_messages_for(:target_price).each do |msg|%>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>

      <div class="field">
        <label>目標時間(h)</label>
        <%= f.number_field :target_hours, step: 0.5, class: "input" %>

        <ul>
          <%@work_session.errors.full_messages_for(:target_hours).each do |msg|%>
            <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
      
      <%= f.submit "変更", class: "btn btn-primary" %>
    <% end %>


  </section>

  <section class="card">
    <h2>手動で時間を入力</h2>
    <div class="field">
      <%= form_with url: update_time_work_session_path,
                    method: :patch,
                    local: true,
                    html: { novalidate: true, class: "manual-form" } do %>

        <label for="manual_time"></label>
        <%= text_field_tag "work_session[manual_time]",
            nil,
            placeholder: "01:30:00",
            pattern: "\\d{1,}:\\d{2}:\\d{2}",
            inputmode: "numeric",
            class: "input" %>

        <%= submit_tag "時間を更新",
        class: "btn btn-secondary"%>
        
      <% end %>
    </div>

      <ul>
        <% @work_session.errors.full_messages_for(:manual_time).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

  </section>
</main>
